




@media (max-width: 600px) {
    .header-title{
        display: none;
    }

  
    .mobile-container {
        display: block;
        background-size: cover;
        max-width: 480px;
        margin: auto;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        position: relative;
        padding-top: 20px;
        
      }
      .header-bottom-left-img{
        width: 150px;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav nav {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon i{
        display: block;
        position: absolute;
        right: 70px;
        top: 44px;
        color: #0093DF;
        font-size: 20px;
      }
    .hero-contaier{
        padding-top: 10px;
        width: 100%;
        gap: 0;
    }
    
    .hero-img {
        margin-right: 16px;
        width: 200px;
        flex: 0 0 auto;
    }

    .hero-img img {
        display: none;
    }
    .hero-title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-img{
        width: 0;
    }

    .hero-title h2 {
        font-size: 19px;
        margin-bottom: 10px;
        text-align: center;
    }

    .hero-title p {
        font-size: 13px;
        text-align: center;
    }

    section.hero-title {
        line-height: initial;
    }

    section.hero-contaier {
        align-items: center;
    }

    
    .feature-content {
        flex-direction: column;
    }

    .feture-contaier {
        height: auto;
        padding: 0 15px;
    }

    .feature-content-cards {
        width: 100%;
    }


    .Recipe-contaier {
        height: auto;
        padding-bottom: 30px;
        margin: 33px;
    }
    .Recipe-content {
        flex-direction: column;
        gap: 30px;
    }
    .Recipe-content-cards{
        flex-direction: column;
    }
  
  
    .Recipe-content-cards {
        width: 100%;
        height: auto;
        align-items: center;
        padding: 10px;
    }
    .Recipe-content-card h2, p{
        font-size: 75%;
    }

   
  

    .footer-title  {
        height: auto;
        padding: 30px 11px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

 .footer-title-Mid {
    flex-direction: column;
    gap: 0;
 }

    .footer-title-right{
 justify-content: center;
    }


}
    
    
    @media (min-width: 600px) and (max-width: 900px) {
        .hero-contaier{
            padding-top: 10px;
            width: 100%;
        }
        
        .hero-img {
            margin-right: 16px;
            width: 200px;

        }
    
        .hero-img img {
            max-width: 100%;
        }
    
        .hero-title h2 {
            font-size: 19px;
            margin-bottom: 10px;
        }
    
        .hero-title p {
            font-size: 13px;
        }
    
        section.hero-title {
            line-height: initial;
        }
    
        section.hero-contaier {
            align-items: center;
        }
        .footer-container {
            gap: 110px;
            justify-content: space-between;
            padding-inline: 16px;
        }
    
        .header-bottom-right {
            padding-right: 0;
            gap: 25px;
        }
    
        .header-bottom {
            padding-inline: 15px;
        }
    
        .header-bottom-left {
            margin-left: 10px;
        }
    
        .feature-content-cards p {
            font-size: 17px;
        }
    
        .feature-content {
            padding-inline: 15px;
            gap: 15px;
          
            
        }
    
        .Recipe-content {
            gap: 20px;
            padding-inline: 15px;
            flex-direction: column;
        }
    
        .Recipe-content-card-img {
            width: 790px;
            height: 300px;
        }

        .Recipe-content-card {
            width: 100%;
           
        }
    }
    
    
    @media (min-width: 1200px) {
       
       
    }

    
